<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
  <!-- Right-click menu on the desktop -->
  <menu id="root-menu" label="Applications">
    <item label="Terminal (foot)">
      <action name="Execute" command="term" />
    </item>
    <item label="Launcher (fuzzel)">
      <action name="Execute" command="fuzzel" />
    </item>
    <item label="File Manager (nnn)">
      <action name="Execute" command="term nnn" />
    </item>
    <item label="Wallpaper (picker)">
      <action name="Execute" command="wallpaper" />
    </item>
    <separator />
    <item label="Power">
      <action name="Execute" command="power" />
    </item>
    <item label="Reconfigure">
      <action name="Reconfigure" />
    </item>
    <item label="Exit">
      <action name="Exit" />
    </item>
  </menu>
</openbox_menu>
