[Desktop Entry]
Name=File Manager
Comment=Browse files with nnn
Exec=term nnn
Icon=system-file-manager
Type=Application
Categories=System;FileManager;
NoDisplay=false
