[Desktop Entry]
Name=Resolution
Comment=Change display resolution
Exec=term resolution
Icon=preferences-desktop-display
Type=Application
Categories=System;Settings;
NoDisplay=false
